In [64]:
print('hellollldhlehle')

hellollldhlehle

In [65]:
print('hello')

hello

In [1]:
print('What is your name?')
user_name = input('put you name here ')
print(user_name)
print('Hello,', user_name)

What is your name?
somon
Hello, somon

In [67]:
login = input('Enter your login: ')
language = input('Enter your native language: ')
print('Your login is', login, 'and you speak langauge', language)

Your login is  and you speak langauge

In [68]:
len('hello!')

6

In [69]:
print('hello world', end='.')
print('Python speaking')

hello world.Python speaking

In [70]:
first_name = 'John'
print('Your first name is', first_name, 'Welcome!', sep='-', end='=')

Your first name is-John-Welcome!=

In [71]:
user_age = int(input('What is your age? '))
if user_age > 30:
    print('You are over 30 years old')
    print('sorry you do not qualify')
elif user_age == 30:
    print('you are exactly 30 years old')
else:
    print('you are 30 years old or younger \ncongratulations you qualify')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
password = input('Do you know the secret password? ')
if password != '--secret':
    print('not correct')
else:
    print('correct password')

not correct

In [ ]:
while True:
    name = input('Enter your name or EXIT to close the program: ')
    if name =='EXIT':
        break
    print('Hello', name)

Hello somon

In [ ]:
for i in range(1,21):
    if i%5 ==0:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(11):
    pass

In [ ]:
for a in range(1,6):
    for b in range(1,6):
        print(a, 'x', b, '=', a*b)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
i = 2
while i < 5:
    print(i)
    i += 1
else:
    print('else:', i)

2
3
4
else: 5

In [ ]:
guess = int(input('When was Python 1.0 released? '))
True == 1994
while guess == 1994:
    print('Correct!')
    break   
else guess > 1994:
        guess1 = int(input('It was earlier than that! When was Python 1.0 released? '))
else guess < 1994:
        guess2 = int(input('It was later than that! When was Python 1.0 released? '))

IndentationError: unexpected indent (872729237.py, line 5)

In [ ]:
guess = int(input('When was Python 1.0 released? '))
while guess == 1994:
    print('Correct!')
    break   
if guess > 1994:
    print('It was later than that!')
    guess1 = int(input('When was Python 1.0 released? '))
if guess < 1994:
        print('It was later than that!')
        guess2 = int(input('When was Python 1.0 released? '))

It was later than that!

In [ ]:
while True:
    answer = int(input('When was Python 1.0 released? '))
    if answer > 1994:
        print('It was earlier than that!')
    elif answer < 1994:
        print('It was later than that!')
    else:
        print('Correct!')
        break

It was earlier than that!
It was earlier than that!
It was later than that!
It was later than that!
It was earlier than that!
Correct!

In [ ]:
lists
tuples
dictionaries
q=e

NameError: name 'lists' is not defined

In [ ]:
city_1 = 'New Yourk City'
city_2 = 'Los Angeles'

In [ ]:
empty_list = []

In [75]:
top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix']
print(top_cities)

['newyourk', 'losangeles', 'chicago', 'houston', 'phonix']

In [74]:


top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix']
top_cities[0]

'newyourk'

In [76]:
top_cities[1]

'losangeles'

In [77]:
top_cities[4]

'phonix'

In [78]:
top_cities[-1]

'phonix'

In [79]:
top_cities[-2]

'houston'

In [80]:
top_cities[-5]

'newyourk'

In [81]:
top_cities[-6]

IndexError: list index out of range

In [82]:
top_cities[0:2]

['newyourk', 'losangeles']

In [83]:
top_cities[2:]

['chicago', 'houston', 'phonix']

In [84]:
top_cities[:3]

['newyourk', 'losangeles', 'chicago']

In [85]:
top_cities[:]

['newyourk', 'losangeles', 'chicago', 'houston', 'phonix']

In [86]:
top_cities

['newyourk', 'losangeles', 'chicago', 'houston', 'phonix']

In [87]:
top_cities[10:15]

[]

In [90]:
top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix' 'singapoor']

In [91]:
del top_cities[-1]

In [92]:
top_cities

['newyourk', 'losangeles', 'chicago', 'houston']

In [93]:
del top_cities[3:]

In [94]:
print(top_cities)

['newyourk', 'losangeles', 'chicago']

In [95]:
del top_cities[:]

In [96]:
top_cities

[]

In [97]:
del top_cities

In [98]:
top_cities

NameError: name 'top_cities' is not defined

In [99]:
print('hello')

hello

In [100]:
name = inout('name?')

NameError: name 'inout' is not defined

In [20]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)
print(book_ratings[0])

7

In [19]:
book_ratings.insert(0,10)
print(book_ratings)

[10, 7, 10, 9, 5, 6, 8, 10, 4]

In [3]:
top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix' 'singapoor']

In [4]:
top_cities
for city in top_cities:
    print('Current city:', city)

Current city: newyourk
Current city: losangeles
Current city: chicago
Current city: houston
Current city: phonixsingapoor

In [8]:
top_cities
for i in range(len(top_cities)):
    print('Current index:', i, '| Current city:', top_cities[i], )

Current index: 0 | Current city: newyourk
Current index: 1 | Current city: losangeles
Current index: 2 | Current city: chicago
Current index: 3 | Current city: houston
Current index: 4 | Current city: phonixsingapoor

In [9]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:', sum)

Money spent: 158.1

In [20]:
x=0 
y=0 
z=0 
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
for i in spendings:
    if i < 1000:
        x += 1
        
    elif 1000<=i<=2500:
        y += 1 
    elif i > 2500:
        z += 1
print('Number of months with low spendings:', x,', normal spendings:', y, 'high spendings:', z, ',')

Number of months with low spendings: 1 , normal spendings: 5 high spendings: 6 ,

In [22]:
first = input('enter first number: ')
second = input('enter second number: ')
print('before swapping:', first, second)
temporary = first 
first = second
second = temporary 
print('after swapping:', first, second)

before swapping: 10 20
after swapping: 20 10

In [23]:
first = input('enter first number: ')
second = input('enter second number: ')
print('before swapping:', first, second)
first, second = second, first
print('after swapping:', first, second)

before swapping: 10 20
after swapping: 20 10

In [25]:
top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix' 'singapoor']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['phonixsingapoor', 'losangeles', 'chicago', 'houston', 'newyourk']

In [26]:
top_cities = ['newyourk', 'losangeles', 'chicago', 'houston', 'phonix' 'singapoor']
top_cities.sort()
print(top_cities)

['chicago', 'houston', 'losangeles', 'newyourk', 'phonixsingapoor']

In [27]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort()
print(random_numbers)

[-3, 0, 2, 4, 5]

In [28]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort(reverse=True)
print(random_numbers)

[5, 4, 2, 0, -3]

In [29]:
for char in 'happy message':
    print(char)

h
a
p
p
y

m
e
s
s
a
g
e

In [32]:
invited_guests = ['somon', 'akmal', 'yunus', 'ahmad', 'kris', 'abdul']
name = input('what is you name? ')
if name in invited_guests:
    print('welcome!')
else:
    print('you are not invited!')

you are not invited!

In [33]:
name_original = 'Jon snow'
name_new = name_original
name_original = 'somon hakimov'
print(name_original, name_new)

somon hakimov Jon snow

In [34]:
list_original = [1, 2, 3]
list_new = list_original
list_original[0] = -5
print('original:', list_original, '\nNew:', list_new)

original: [-5, 2, 3]
New: [-5, 2, 3]

In [36]:
list_original = [1, 2, 3]
list_new = list_original[:2]
list_original[0] = -5
print('original:', list_original, '\nNew:', list_new)

original: [-5, 2, 3]
New: [1, 2]

In [37]:
numbers = [1,2,3,4]
print(numbers)

[1, 2, 3, 4]

In [40]:
numbers = []
for i in range(1, 101):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [42]:
numbers = [i for i in range(1, 101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [43]:
numbers = [i for i in range(1, 101) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [45]:
numbers = [1,2,22, 3]
countries = ['uk', 'usa', 'tjk']
countries = [1, 'usa', 2, 'tjk']
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]

In [46]:
cells[0]

['A1', 'A2', 'A3']

In [47]:
cells[0][0]

'A1'

In [48]:
cells[0][1]

'A2'

In [49]:
cells[1][2]

'B3'

In [50]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('element:', x)

element: ['A1', 'A2', 'A3']
element: ['B1', 'B2', 'B3']

In [51]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    for y in x:
        print('element:', y)

element: A1
element: A2
element: A3
element: B1
element: B2
element: B3

In [53]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell, '', end='')

A1 A2 A3 B1 B2 B3

In [54]:
table = [i for i in range(1, 6)]
print(table)

[1, 2, 3, 4, 5]

In [55]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [56]:
list_us = ['new york city', 'chicago']
list_uk = ['london', 'bristol']
list_all = list_us + list_uk
print(list_all)

['new york city', 'chicago', 'london', 'bristol']

In [57]:
list_numbers = [0, 1] * 10
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [59]:
fav_band = 'green day'
print(fav_band[6])

d

In [60]:
print(fav_band[:6])

green

In [61]:
fav_band[6] = 'M'

TypeError: 'str' object does not support item assignment

In [62]:
text = 'please capitalise me'
text_cap = text.upper()
print(text_cap)

PLEASE CAPITALISE ME

In [64]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
    print("thank you, that\'s a correct number!")
else:
    print('sorry,', user_number, 'is not a number!')

sorry, y is not a number!

In [65]:
empty_tuple = ()
one_el_tuple_a = (1,)
one_el_tuple_b = 1,

In [66]:
three_el_tuple = 1, 2, 3,
print(three_el_tuple)

(1, 2, 3)

In [67]:
user_data = ('John', 'American', 1964)
user_date = ('katya', 'russian', 1980)
print(user_data)

('John', 'American', 1964)

In [68]:
print(user_data[0])

John

In [69]:
message = 'welcome'
message = "Welcome"
message[0] = 'x'

TypeError: 'str' object does not support item assignment

In [70]:
user_data = ('John', 'American', 1964)
print(len(user_data))

3

In [71]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
    print('this person comes from US!')

this person comes from US!

In [72]:
user_data = ('John', 'American', 1964)
for element in user_data:
    print(element)

John
American
1964

In [73]:
user_data = ('John', 'American', 1964) + ('teacher', 'male')
print(user_data)

('John', 'American', 1964, 'teacher', 'male')

In [74]:
numbers = (0,1) * 10
print(numbers)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [77]:
city_1 = ('london', 'uk', 8.98)
city_2 = ('canberra', 'australia', 0.4)
city_3 = ('algiers', 'algeria', 3.9)
capitals = [('london', 'uk', 8.98), ('canberra', 'australia', 0.4), ('algiers', 'algeria', 3.9)]
for capital in capitals:
    print('city:', capital[0], ', country:', capital[1], ', population:', capital[2])

city: london , country: uk , population: 8.98
city: canberra , country: australia , population: 0.4
city: algiers , country: algeria , population: 3.9

In [78]:
user_data = ('john', 'american', 1964, [77, 78, 79, 80])
user_data[3].append(81)
print(user_data)

('john', 'american', 1964, [77, 78, 79, 80, 81])

In [12]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]
z=0
t=0 
for i in connections:
            if i[1] == 'Rome':
                z += 1 
                t += i[2]
print(f"{z} connections lead to Rome with an average flight time of {t/z} minutes")

5 connections lead to Rome with an average flight time of 161.0 minutes

In [17]:
emails = {
    'anne stahl': 'astahl@gmail.com',
    'somon hakimov': 'shomshog@gmail.com',
    'akmal shatakov': 'akml@gmail.com'
}

In [18]:
print(emails['somon hakimov'])

shomshog@gmail.com

In [19]:
spanish_animals = {
    'dog': 'el pphkh',
    'cat': 'kjshgksh',
    'horse': 'aijhghr',
    'bird': 'orghol'
}

In [20]:
print(spanish_animals['bird'])

orghol

In [21]:
spanish_animals = {
    'dog': 'el pphkh',
    'cat': 'kjshgksh',
    'horse': 'aijhghr',
    'bird': 'laa'
}

In [22]:
print(spanish_animals)

{'dog': 'el pphkh', 'cat': 'kjshgksh', 'horse': 'aijhghr', 'bird': 'laa'}

In [23]:
tennis_ranking = {
    [1]: 'somon pahlavon'
    [2]: 'yunus pahlavonov'
    [3]: 'simona haha'
}

SyntaxError: invalid syntax (2734795911.py, line 3)

In [25]:
city_ratings = {
    'bangkok': [3,3,5,6,5],
    'dushanbe': [3,6,78,8,5],
    'toshkent': [8,2,4,6]
}

In [26]:
grades = {}
grades['john'] = 'A-'
grades['somon'] = 'B'
print(grades)

{'john': 'A-', 'somon': 'B'}

In [27]:
grades['anna'] = 'A'
print(grades)

{'john': 'A-', 'somon': 'B', 'anna': 'A'}

In [28]:
grades['somon'] = 'A'

In [29]:
print(grades)

{'john': 'A-', 'somon': 'A', 'anna': 'A'}

In [30]:
len(grades)

3

In [31]:
if 'somon' in grades:
    print('somon got:', grades['somon'])

somon got: A

In [32]:
del grades['somon']
print(grades)

{'john': 'A-', 'anna': 'A'}

In [33]:
for i in grades:
    print(i)

john
anna

In [34]:
for i in grades.values():
    print(i)

A-
A

In [36]:
for person, grade in grades.items():
    print(person, 'got', grade)

john got A-
anna got A

In [3]:
def greet():
    print('hello my dear')
greet()
greet()

hello my dear
hello my dear

In [6]:

def get_average(input_numbers):
    sum =0.0
    for number in input_numbers:
        sum += number
    average = sum/len(input_numbers)

    print(average)
get_average([1, 3, 7 ,8 ,8, 10, 10])

6.714285714285714

In [7]:
get_average([199, 299])

249.0

In [8]:
get_average()

TypeError: get_average() missing 1 required positional argument: 'input_numbers'

In [9]:
get_average(5)

TypeError: 'int' object is not iterable

In [10]:
def print_letter_count(text, letter):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('number of', letter, 'is', counter)

In [11]:
print_letter_count('welcome', 'e')

number of e is 2

In [12]:
print_letter_count('people say nothing is impossible, but i do nothing everyday.', 'a')

number of a is 2

In [13]:
print_letter_count('e', 'Welcome')

number of Welcome is 0

In [14]:
print_letter_count(text='welcome', letter='e')

number of e is 2

In [16]:
print('Hello', 'how are you?', end='.', sep='-')

Hello-how are you?.

In [ ]:
def print_letter_count(text='this is the default string to search', letter='a'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('number of', letter, 'is', counter)
    
print_letter_count()

number of a is 2

In [27]:
print_letter_count('how many letters a are here?')

number of a is 3

In [28]:
print_letter_count()

number of a is 2

In [30]:
def show_truth():
    mysterious_var = 'surprise'
    print(mysterious_var)

show_truth()

surprise

In [31]:
def show_truth():
    print(mysterious_var)

mysterious_var = 'surprise'
show_truth()

surprise

In [32]:
def show_truth():
    mysterious_var = 'New Surprise!'
    print(mysterious_var)

mysterious_var = 'surprise'
print(mysterious_var)
show_truth()
print(mysterious_var)

surprise
New Surprise!
surprise

In [33]:
def show_truth():
    global mysterious_var
    mysterious_var = 'New Surprise!'
    print(mysterious_var)

mysterious_var = 'surprise'
print(mysterious_var)
show_truth()
print(mysterious_var)

surprise
New Surprise!
New Surprise!

In [34]:
def show_truth():
    mysterious_var = ['New Surprise!']
    print(mysterious_var)

mysterious_var = ['surprise']
print(mysterious_var)
show_truth()
print(mysterious_var)

['surprise']
['New Surprise!']
['surprise']

In [6]:
def show_truth():
    mysterious_var.append('New Surprise!')
    print(mysterious_var)

mysterious_var = ['surprise']
print(mysterious_var)
show_truth()
print(mysterious_var)

print(show_truth())

['surprise']
['surprise', 'New Surprise!']
['surprise', 'New Surprise!']
['surprise', 'New Surprise!', 'New Surprise!']
None

In [ ]:

print('hello')

NameError: name 'show_truth' is not defined

In [37]:
len('hello')

5

In [38]:
length = len('hello')

In [40]:
number = input('what is the number? ')
print(number)

7

In [41]:
print_return = print('hello world')
print(print_return)

hello world
None

In [10]:
def greet():
    print('hello')

x = greet()
print(x)

hello
None

In [11]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average

In [ ]:
print('the average is:', get_average([4,6,5,4,4,6]))

the average is: 4.833333333333333

In [12]:
average = get_average([3,4,5,6,6,7])
if average > 5.0:
    print('the average is too high!')

the average is too high!

In [13]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average
    print('show me')

get_average([2,9])

5.5

In [54]:
def is_first_last_equal(number_list):
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [55]:
print(is_first_last_equal([10,20,48,93,10]))

True

In [ ]:
print(is_first_last_equal([10,20,48,93]))

False

In [57]:
print(is_first_last_equal([]))

IndexError: list index out of range

In [58]:
def is_first_last_equal(number_list):
    if len(number_list) == 0:
        return
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [59]:
print(is_first_last_equal([]))

None

In [28]:
# def unique(list):
#     for i in list:
#         for i in 
#     if i in list
    
    # take the first index and compare it with every other indices
    # if it matches: 
    # don't add to the new_list
    # if it doesn't match add to the new list
    # remove the the second or the third matching one but keep the previous one.
    # print a new list that does not contain repetitive items.
    # if a new_list does not have it add it to the new_list.
    # x = 0
    # if 
def unique(list):
    new_list = []
    for i in list:
        if i not in new_list:
            new_list.append(i)
    print(new_list)

unique([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [29]:
# factorial 5! = 1*2*3*4*5

In [ ]:
# iterative, recursion
def get_factorial(number):
    factorial = 1
    for x in range (1, number + 1):
        factorial *= x
    return factorial

In [32]:
print(get_factorial(6))

720

In [35]:
# recursive
def get_factorial_recursive(number):
    if number <= 1:
        return 1
    return number * get_factorial_recursive(number -1)

get_factorial_recursive(6)

720

In [48]:
# generator

def get_number():
    for i in range(1, 4):
        yield i

In [49]:
print(get_number())

<generator object get_number at 0x7ed9dc658930>

In [50]:
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))

1
2
3

In [51]:
for x in get_number():
    print(x)

1
2
3

In [52]:


numbers = list(get_number())
print(numbers)

TypeError: 'list' object is not callable

In [ ]:
# don't worry about generators much, just remember the systax a little

In [55]:
# exceptions, syntax error, value error.
if True:
print('hooray!')

IndentationError: expected an indented block after 'if' statement on line 2 (590599853.py, line 3)

In [58]:
value = int(input('Enter an integer: '))
print('the inverse of', value, 'is', 1/value)

ValueError: invalid literal for int() with base 10: 'a'

In [61]:
try:
    value = int(input('Enter an integer: '))
    print('the inverse of', value, 'is', 1/value)
except:
    print('you did not provide a number, so i will not calculate the inverse')

you did not provide a number, so i will not calculate the inverse

In [62]:
value = int(input('Enter an integer: '))
print('the inverse of', value, 'is', 1/value)

ZeroDivisionError: division by zero

In [65]:
try:
    value = int(input('Enter an integer: '))
    print('the inverse of', value, 'is', 1/value)
except ValueError:
    print('you did not provide a number, so i will not calculate the inverse')
except ZeroDivisionError:
    print('you provided 0 and division by 0 is not possible, sorry')

the inverse of 5 is 0.2

In [66]:
try:
    value = int(input('Enter an integer: '))
    print('the inverse of', value, 'is', 1/value)
except ValueError:
    print('you did not provide a number, so i will not calculate the inverse')
except ZeroDivisionError:
    print('you provided 0 and division by 0 is not possible, sorry')
except:
    print('something strange happened here, sorry')

you did not provide a number, so i will not calculate the inverse

In [67]:
# # use assertion:
# 1. for debugging/testing your Code
# 2. for documenting your Code
#  do not use it for:
# 1. validate user input with assertions
# 2. handle AssertionError in try...except

In [70]:
def calculate_inverse(number):
    assert (number != 0), 'got 0 as number'
    return 1/number

calculate_inverse(2)

0.5