In [1]:
# coding everyday
# typing everyday
# certificates
# demo

In [ ]:
# listing functions/methods
# Nested loops
# difference between mutable and immutable data types
# Tuples
# Dictionaries

In [6]:
# when to use del and when to use methods?
# pop(), remove('value')
# del
lst = [1,2,3]
lst2 = {1: 'haha'}

del lst2[1]

del lst[0]

print(lst)
print(lst2)

[2, 3]
{}

In [8]:
# functions or methods
# append()
# insert()
# remove()
# pop()
# sort()
# index()

In [ ]:
lst = [1,2,4,56,7,-4,-5,-34, 'haha', 'somon', True, False] # we need to have one data type only.
lst.sort()
print(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
lst = [1,2,4,56,7,-4,-5,-34, True, False] # True = 1, False = 0
lst.sort()
print(lst)

[-34, -5, -4, False, 1, True, 2, 4, 7, 56]

In [11]:
lst = ['a', 'b', 'B', 'C', ] # ASCII table
lst.sort()
print(lst)

['B', 'C', 'a', 'b']

In [12]:
lst = [2,3,4,5,-1,-4.5]
lst.sort()
print(lst)

[-4.5, -1, 2, 3, 4, 5]

In [13]:
lst = [2,3,4,5,-1,-4.5]
lst.sort(reverse=True)
print(lst)

[5, 4, 3, 2, -1, -4.5]

In [16]:
lst = [2,3,4,5,-1,-4.5]
print(lst.index(-1))

lst3 = ['hello', 'hello', 'world']
print(lst3.index('hello'))

4
0

In [ ]:
str1 = 'hello world. this is a test' # split works only with strings, append, insert etc those work with list only
lst_str = str1.split()
print(lst_str)

['hello', 'world.', 'this', 'is', 'a', 'test']

In [19]:
str1 = 'hello:world:this:is:a:test'
lst_str = str1.split(':')
print(lst_str)

['hello', 'world', 'this', 'is', 'a', 'test']

In [20]:
str1 = 'hello, world, this is a test, '
x = str1.strip()
print(x)

hello, world, this is a test,

In [21]:
str1 = '   hello, world, this, is s test,  '
x = str1.split(',')
filtered = []

In [22]:
lst_num = []
for num in range (1, 11):
    lst_num.append(num)

print(lst_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# lst_num = [<value> for <iterator> in <sequence>] 
lst_num = [num for num in range(1,11) if num % 2 ==0]
print(lst_num)

[2, 4, 6, 8, 10]

In [26]:
lst_num = [[1,2] for num in range(1,11)]
print(lst_num)

[[1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2], [1, 2]]

In [27]:
lst_num = [num for num in range(1,11) for in range(10)]
print(lst_num)

SyntaxError: invalid syntax (1152353612.py, line 1)

In [1]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [4]:
# # nested loops
# for i in range(1,11):
#     # <code...>
#     for j in range(1,6)

for i in range(1,11):
    print(f'run {i}')
    for j in range(1,6):
        print(j, end=' ')
    print()
    print('--------------------------')

run 1
1 2 3 4 5
--------------------------
run 2
1 2 3 4 5
--------------------------
run 3
1 2 3 4 5
--------------------------
run 4
1 2 3 4 5
--------------------------
run 5
1 2 3 4 5
--------------------------
run 6
1 2 3 4 5
--------------------------
run 7
1 2 3 4 5
--------------------------
run 8
1 2 3 4 5
--------------------------
run 9
1 2 3 4 5
--------------------------
run 10
1 2 3 4 5
--------------------------

In [1]:
# difference between mutable and immutable
# mutable examples: 
# list --> append(), pop(), change the order of the list, reerse the list, sort, ....

# immutable data types examples:
# String
# Integer
lst = ['hle', 'world', 'test']
lst[2] = 'akumo'
print(lst)

['hle', 'world', 'akumo']

In [2]:
word = 'Hello'
word[-1] = 'O'
print(word)

TypeError: 'str' object does not support item assignment

In [ ]:
print(word + 'test') # in this case you are not changing the word itself, you can create new one, you can add the existing one, but you can not change the original itself.

Hellotest

In [ ]:
word = 'test'   # we cannot change string, because it immutable
word.replace('test', 'akumo')
print(word)

test

In [6]:
word = 'test' # here we are able to change the string because we are creating new variable
x = word.replace('test', 'akumo')
print(x)

akumo

In [ ]:
# tuple read only, exactly as a list, only it comes with paranthesis, 
# rather then brackets, the one is immutable the other is not immutable.
tpl = (1,2,3,4,5)
print(tpl[0:2])
print(tpl[::-1]) # we are not changing we are just reading from the back.

(1, 2)
(5, 4, 3, 2, 1)

In [12]:
tpl = (1, 'hello', True, 50.3, ['hello', 'test', 'world']) 
# we can change the value of list which is inside the tuple, we cannot rearrange the order of the list, 
lst = list(tpl)
print(lst)

[1, 'hello', True, 50.3, ['hello', 'test', 'world']]

In [ ]:
for num in tpl:   # for loop works exactly same for tuples as it works with lists
    print(num)

1
hello
True
50.3
['hello', 'test', 'world']

In [17]:
# dictionaries
# dictionaries - are the key value stores
# sets = {1,2,3,4,}
# keys must be unique, like variables
dictinaries = {'key' : 'value', 'key2': 'value2', 'key3': 'value3'}
print(dictinaries)
x = {
    1: 'value1',
    2: 'value2',
    3: 'value3',
    4: 'value4'
}
print(x['1'])

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

KeyError: '1'

In [13]:
# you can have integers, strings, floats, etc.. in a dictionary

# task

# create a dictionary of students
# key is the numbers from 1 ..100
# value is another dicrionary that contains the following
# first_name, last_name, date_of_birth.

info = {'student1': {'fi': 'first', 
                     'l': 'last',
                     'd': 'dob'},
        'student2': {'fi': 'first2',
                      'l': 'last2',
                        'd': 'dob2'},
        'student3': {'fi': 'first3',
                      'l': 'last3',
                      'd': 'dob3'},
        }

for key, value in info.items():
  print(f'hello I am {value['fi']} {value['l']}. I was born in {value['d']}')
  print(f'I am the student number {key}')

hello I am first last. I was born in dob
I am the student number student1
hello I am first2 last2. I was born in dob2
I am the student number student2
hello I am first3 last3. I was born in dob3
I am the student number student3

In [16]:
for key, value in info.items():
        print(f'hello I am, {value['fi']}, {value['l']}. I was born in, {value['d']}')
        print(f'I am student number, {key}')

hello I am, first, last. I was born in, dob
I am student number, student1
hello I am, first2, last2. I was born in, dob2
I am student number, student2
hello I am, first3, last3. I was born in, dob3
I am student number, student3